state_machines/idp_pipeline.json
{
  "Comment": "Orquestrador Core do Pipeline IDP - CrediFácil",
  "StartAt": "InvokeBDA",
  "States": {
    "InvokeBDA": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-bda-invoker-dev",
      "Next": "WaitBDA",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyError"
        }
      ]
    },
    "WaitBDA": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "PollBDAStatus"
    },
    "PollBDAStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-bda-status-poller-dev",
      "Next": "CheckBDAStatus"
    },
    "CheckBDAStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status_bda",
          "StringEquals": "IN_PROGRESS",
          "Next": "WaitBDA"
        },
        {
          "Variable": "$.status_bda",
          "StringEquals": "COMPLETED",
          "Next": "CheckConfidence"
        },
        {
          "Variable": "$.status_bda",
          "StringEquals": "FAILED",
          "Next": "NotifyError"
        }
      ]
    },
    "CheckConfidence": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-confidence-checker-dev",
      "Next": "RoutingDecision"
    },
    "RoutingDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.needs_human_review",
          "BooleanEquals": true,
          "Next": "TriggerA2I"
        },
        {
          "Variable": "$.needs_human_review",
          "BooleanEquals": false,
          "Next": "StructureWithNova"
        }
      ]
    },
    "TriggerA2I": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-a2i-trigger-dev",
      "Next": "StructureWithNova"
    },
    "StructureWithNova": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-nova-structurer-dev",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyError"
        }
      ],
      "Next": "WriteResult"
    },
    "WriteResult": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-result-writer-dev",
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-notification-dev",
      "Parameters": {
        "package_id.$": "$.package_id",
        "execution_status": "SUCCESS"
      },
      "End": true
    },
    "NotifyError": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-notification-dev",
      "Parameters": {
        "package_id.$": "$.package_id",
        "execution_status": "ERROR",
        "error_message": "Falha crítica detectada na execução do pipeline de IA."
      },
      "Next": "MarkFailed"
    },
    "MarkFailed": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:credifacil-result-writer-dev",
      "Parameters": {
        "package_id.$": "$.package_id",
        "status": "FAILED"
      },
      "End": true
    }
  }
}