state_machines/idp_pipeline.json
{
  "Comment": "Pipeline simplificado e robusto de IDP para o CrediFacil com Auditoria Granular",
  "StartAt": "InvokeBDA",
  "States": {
    "InvokeBDA": {
      "Type": "Task",
      "Resource": "${BdaInvokerArn}",
      "Next": "WaitForBDA"
    },
    "WaitForBDA": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetBDAStatus"
    },
    "GetBDAStatus": {
      "Type": "Task",
      "Resource": "${BdaStatusPollerArn}",
      "Next": "CheckBDAStatus"
    },
    "CheckBDAStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "EvaluateConfidence"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "NotifyError"
        }
      ],
      "Default": "WaitForBDA"
    },
    "EvaluateConfidence": {
      "Type": "Task",
      "Resource": "${ConfidenceCheckerArn}",
      "Next": "StructureWithNova"
    },
    "StructureWithNova": {
      "Type": "Task",
      "Resource": "${NovaStructurerArn}",
      "Next": "CheckScoreExecution"
    },
    "CheckScoreExecution": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.execute_score",
          "BooleanEquals": true,
          "Next": "ConsolidateCustomer"
        }
      ],
      "Default": "WriteResult"
    },
    "ConsolidateCustomer": {
      "Type": "Task",
      "Resource": "${CustomerConsolidatorArn}",
      "Next": "WriteResult"
    },
    "WriteResult": {
      "Type": "Task",
      "Resource": "${ResultWriterArn}",
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "${NotificationArn}",
      "End": true
    },
    "NotifyError": {
      "Type": "Task",
      "Resource": "${NotificationArn}",
      "End": true
    }
  }
}