state_machines/idp_pipeline.json
{
  "Comment": "Pipeline simplificado e robusto de IDP para o CrediFacil com Auditoria Granular e Roteamento Condicional de Score",
  "StartAt": "InvokeBDA",
  "States": {
    "InvokeBDA": {
      "Type": "Task",
      "Resource": "${BdaInvokerArn}",
      "Next": "WaitForBDA"
    },
    "WaitForBDA": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetBDAStatus"
    },
    "GetBDAStatus": {
      "Type": "Task",
      "Resource": "${BdaStatusPollerArn}",
      "Next": "CheckBDAStatus"
    },
    "CheckBDAStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "EvaluateConfidence"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "NotifyError"
        }
      ],
      "Default": "WaitForBDA"
    },
    "EvaluateConfidence": {
      "Type": "Task",
      "Resource": "${ConfidenceCheckerArn}",
      "Next": "StructureWithNova"
    },
    "StructureWithNova": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NovaStructurerArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "OutputPath": "$.Payload",
      "Next": "GenerateExcelReports"
    },
    "GenerateExcelReports": {
      "Type": "Map",
      "ItemsPath": "$.json_estruturado.documentos_analisados",
      "Parameters": {
        "package_id.$": "$.package_id",
        "bda_output_bucket.$": "$.bda_output_bucket",
        "arquivo_original.$": "$$.Map.Item.Value.arquivo_original",
        "s3_key_resultado.$": "$$.Map.Item.Value.s3_key_resultado",
        "campos_extraidos.$": "$$.Map.Item.Value.campos_extraidos"
      },
      "Iterator": {
        "StartAt": "InvokeExcelGenerator",
        "States": {
          "InvokeExcelGenerator": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExcelGeneratorArn}",
              "Payload.$": "$"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.excel_generation_results",
      "Next": "CheckScoreExecution"
    },
    "CheckScoreExecution": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.execute_score",
          "BooleanEquals": true,
          "Next": "ConsolidateCustomer"
        }
      ],
      "Default": "WriteResult"
    },
    "ConsolidateCustomer": {
      "Type": "Task",
      "Resource": "${CustomerConsolidatorArn}",
      "Next": "WriteResult"
    },
    "WriteResult": {
      "Type": "Task",
      "Resource": "${ResultWriterArn}",
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "${NotificationArn}",
      "End": true
    },
    "NotifyError": {
      "Type": "Task",
      "Resource": "${NotificationArn}",
      "End": true
    }
  }
}